<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596158069577-nq9ofndct6alaunfpt7ilcvkknrbff85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596158069577-nq9ofndct6alaunfpt7ilcvkknrbff85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>596158069577-nbm14e7ucasmatl6nv1htf9ai1cjh8bb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhj9u0wfBbrQjC78wDZenG7u8ZXevXwCU</string>
	<key>GCM_SENDER_ID</key>
	<string>596158069577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ruangdisabilitas</string>
	<key>PROJECT_ID</key>
	<string>flutter-authentication-a-3fc81</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-authentication-a-3fc81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596158069577:ios:5315865cb5e0ced5603898</string>
</dict>
</plist>